<!DOCTYPE html>
<html>
<head>
    <title>eBay Store Dashboard</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>eBay Store Dashboard</h1>
    <p>Total Orders (Last 90 Days): {{ metrics['Total Orders (90 days)'] }}</p>
    
    <!-- Example table to display all orders -->
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Total</th>
                <th>Date</th>
		<th>Delivery Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order['orderId'] }}</td>
                <td>{{ order['pricingSummary']['total']['value'] }} {{ order['pricingSummary']['total']['currency'] }}</td>
                <td>{{ order['creationDate'] }}</td>
		<td>{{ order['pricingSummary']['deliveryCost']['value'] if order['pricingSummary'].get('deliveryCost') else 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
